* {
    box-sizing: border-box;
}

html {
    min-height:100%;
    position:relative;
    margin: 0;
    padding: 0;
}

body {
    height:100%;
    margin: 0;
    padding: 0;
    /*text*/
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.bar {
    background-color: #2d2d2d;
    height: 5vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b0b0b0;
}
.bar li:hover {
    color: #ffffff;
    cursor: pointer;
}
.bar li {
    list-style-type: none;
    margin-left: 1rem;
}

.dialog {
    width: 40%;
    margin: 1rem;
    height: auto;
    border: none !important;
    border-radius: 1.5rem;
    padding: 1em 2em 2em 2em;
    display: none;
    position: fixed;
    z-index: 51;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    justify-self: center;
    align-self: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: lavender;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.1rem 6px rgba(0, 0, 0, 0.39);
}

button:focus {
    cursor: pointer;
    background-color: #bcbccc;
}

.center {
    display: flex;
    justify-content: space-around;
}

.right {
    display: flex;
    justify-content: right;
}

#canvas {
    /*border: 1px solid red;*/
    position: absolute;
    z-index: 50;
    margin: 0.5rem;
}

#webcam {
    width:auto;
    height:auto;
    margin: 0.5rem;
    min-height: 45vh;
}


@media only screen and (max-width: 900px) {
    .dialog {
        width: 80%;
    }
}